<div class="banner">
  <div class="container">
    <h1>Bienvenue dans le répertoire Safe Tattoo Artists !</h1>
    <h2>Ce répertoire réunit les recommandations faites par les abonné.es de @safetattooartist. </h2>
    <h2>Pour retrouver tous les tatoueurs référencés, cliquez <%= link_to "ici", artists_path, class:"btn btn-blue" %> </h2>

    <p>Attention : Tou.t.es les artistes safe n’apparaissent pas dans ce répertoire, et il se peut que certain.e.s artistes “non-safe” y soient.</p>
    <p>Si un.e artiste non-safe apparaît, merci de nous contacter</p>
    <p>Malgre le travail effectué par notre équipe, Safe Tattoo Artist ne peut en aucun cas être tenu responsable en cas de mauvaise expérience avec un.e artiste.</p>
  </div>
</div>
