<% @reviews.each do |review| %>
  <h5><%= review.user.first_name %></h5>
  <% Review::AUTHORIZED_RATINGS.each do |number| %> 
    <% if review.rating %>
      <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
    <% else %>
      <i class="far fa-star"></i>
    <% end %>
  <% end %>
    <p><%= review.comment %></p>
  </div>

<% end  %>
